:root{
    --first-color:#527140;
    --second-color:#9b9b9b;
    --third-color:#FEEAA1;
  }

  @font-face {
    font-family: 'Space-Grotesk-Bold';
    src:url('Space-Grotesk-Bold.ttf.woff') format('woff'),
        url('Space-Grotesk-Bold.ttf.svg#Space-Grotesk-Bold') format('svg'),
        url('Space-Grotesk-Bold.ttf.eot'),
        url('Space-Grotesk-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}