:root {
  --first-color: #527140;
  --second-color: #9b9b9b;
  --third-color: #FEEAA1;
}

* {
  font-family: 'Space-Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, label, button {
  font-family: 'Space-Grotesk-Bold';
}

body {
  margin: 0;
}

p { overflow-wrap: break-word; }
footer{
  height: 10vh;
  text-align: center;
  background-color: aliceblue;
}

  @font-face {
    font-family: 'Space-Grotesk-Bold';
    src:url('/Space-Grotesk-Bold.ttf.woff') format('woff'),
        url('/Space-Grotesk-Bold.ttf.svg#Space-Grotesk-Bold') format('svg'),
        url('/Space-Grotesk-Bold.ttf.eot'),
        url('/Space-Grotesk-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row, .flex-row-center, .flex-row-grow {
  display: flex;
}

.flex-row-center {
  justify-content: center;
}

.flex-row-grow > * {
  flex-grow: 1;
}

.flex-row-grow > *:not(:first-child) {
  margin-left: 5px;
}

.flex-row-grow > *:not(:last-child) {
  margin-right: 5px;
}